@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');


html {
  padding: 0;
  margin: 0;
  font-family: "SN Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

button {
  font-family: "SN Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: rgb(255, 233, 239);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.content {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hint-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgb(255, 105, 180);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#gift-title {
  margin-bottom: 20px;
}

#hint-container {
  margin-top: 20px;
}

#hint-penalty {
  color: rgb(255, 0, 0);
  margin-top: 10px;
}

.nav-buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.nav-button, #start-button {
  padding: 10px 20px;
  background-color: rgb(255, 105, 180);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#welcome-screen {
  display: flex;
  flex-direction: column;
}

#start-button {
 /* justify-self: center; */
 align-self: center;
}

.nav-button:disabled {
  background-color: rgb(255, 182, 193);
  cursor: not-allowed;
}

#game-container {
  display: none;
  flex-direction: column;
  align-items: center;
}